<!DOCTYPE html>

<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
<form action = "" method = "POST">
            {% csrf_token %}
  <div class="container">
    <div class="login form">
      <header>Addplan</header>
      <form action="#">
        <input type="text" placeholder="plan type" name="plan_type">
        <input type="text" placeholder="plan per" name="plan_per">
        <input type="text" placeholder="profit" name="profit">
         <input type="text" placeholder="price" name="price">
        
        <input type="submit" class="button" value="Add">
        
      </form>

  </form>
</body>
</html>