<!DOCTYPE html>

<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
<form action = "" method = "POST">
            {% csrf_token %}
  <div class="container">
    <div class="login form">
      <header>Deposit</header>
      <form action="#">
        <input type="text" placeholder="Enter username" name="username" value="{{dep1.username}}">
         <input type="text" placeholder="Enter Deposit amount" name="amount" value="{{dep1.amount}}">
          {% comment %} <input type="text" placeholder="Enter status" name="amount" value="{{dep1.status}}"> {% endcomment %}
        <a href="/accept/dk/"><input type="submit" class="button" value="accept"></a>

        <a href=""> <input type="submit" class="button" value="Reject"></a>
        
      </form>

  </form>
</body>
</html>